# =========================
# Build folders
# =========================
bin/
obj/
out/

# =========================
# Visual Studio cache
# =========================
.vs/
.vscode/

# =========================
# User-specific files
# =========================
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# =========================
# Logs
# =========================
*.log

# =========================
# Build results
# =========================
*.dll
*.exe
*.pdb
*.cache
*.ilk

# =========================
# NuGet
# =========================
packages/
*.nupkg
*.snupkg

# =========================
# Rider / JetBrains
# =========================
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Test results
# =========================
TestResults/

# =========================
# Publish folder
# =========================
publish/

# =========================
# Temporary files
# =========================
*.tmp
*.temp